/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Georgia;
    font-family:Verdana;
    font-size: 14px;
}*/

*{
    margin: 0;
    padding: 0;
}

.cnav{
    background-color: rgb(98, 0, 255, 0.8);
} 

/* estilo para el login */
