/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Georgia;
    font-family:Verdana;
    font-size: 14px;
}*/
.cnav{
    background-color: rgba(0, 183, 255, 0.5);
} 

/* estilo para el login */
